<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capstone.self_training">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SuggestionDetailActi" />
        <activity android:name=".activity.TraineeUploadVideoActi" />
        <activity android:name=".activity.TrainerUploadVideoActi" />
        <activity android:name=".activity.SuggestionListActi" />
        <activity android:name=".activity.MainActivity_Home" />
        <activity android:name=".activity.PlayVideoActivity" />
        <activity android:name=".activity.TrainerProfileActivity" />
        <activity android:name=".activity.TraineeProfileActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.ChangePasswordActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.TraineeVideoUploadedActivity" />
        <activity android:name=".activity.UpdateProfileActivity" />
        <activity android:name=".activity.TrainerVideoListActivity" />
        <activity android:name=".activity.BoughtCourseActivity" />
        <activity android:name=".activity.PlayBoughtVideoActivity" />
        <activity android:name=".activity.BoughtVideoListActivity" />
        <activity android:name=".activity.ManageTraineeTrainerActivity" />
        <activity android:name=".activity.TraineeManagementActivity"></activity>
    </application>

</manifest>