<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capstone.self_training">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activity.TrainerChannelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CreateCourseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VideoInforActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TrainerVideoListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UpdateProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TrainerUploadVideoActi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TraineeUploadVideoActi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OpenCameraActi" />
        <activity
            android:name=".activity.SuggestionDetailActi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SuggestionListActi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity_Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PlayVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TrainerProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TraineeProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TraineeVideoUploadedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BoughtCourseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PlayBoughtVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BoughtVideoListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ManageTraineeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TraineeChannelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SuggestionDetailListByTrainerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CourseDetailPayment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ConfirmationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TrainerUploadedCourseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CourseInforActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SuggestionDetailByTrainerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TrainerVideoUploadedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ManageTrainerActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>